.center-div {
  text-align: center;
}

.loading-div {
  text-align: center;
  font-size: 40px;
  margin-top: 200px;
}

h1 {
  font-size: 100px;
  color: lightskyblue;
  margin: 100px 0px 0px 0px;
  user-select: none;
}

h1:hover {
  cursor: default;
}

h2 {
  font-size: 60px;
  color: greenyellow;
  margin: 0px 0px 150px 0px;
  user-select: none;
}

h2:hover {
  cursor: default;
}
